<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <title>Winku Social Network Toolkit</title>
  <link rel="icon" th:href="@{/images/fav.png}" type="image/png" sizes="16x16">

  <link rel="stylesheet" th:href="@{/css/main.min.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/color.css}">
<!--  <link rel="stylesheet" th:href="@{/css/responsive.css}">-->

</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
  <div class="container-fluid pdng0">
    <div class="row merged">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="land-featurearea">
          <div class="land-meta">
            <h1>Winku</h1>
            <p>
              Winku is free to use for as long as you want with two active projects.
            </p>
            <div class="friend-logo">
              <span><img th:src="@{/images/wink.png}" alt=""></span>
            </div>
            <a href="#" title="" class="folow-me">Follow Us on</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="login-reg-bg">

          <div class="log-reg-area">
            <h2 class="log-title">Register</h2>
            <p>
              Don’t use Winku Yet? <a href="#" title="">Take the tour</a> or <a href="#" title="">Join now</a>
            </p>
            <form method="post" th:object="${register}" th:action="@{/user/register}">
              <div th:if="${#fields.hasGlobalErrors()}">
                <div class="alert alert-danger" role="alert" th:each="err: ${#fields.globalErrors()}" th:text="${err}">
                  글로벌 오류 메시지
                </div>
              </div>
              <div class="form-group">
                <input type="text" required="required" th:field="*{name}" />
                <label class="control-label" >First & Last Name</label><i class="mtrl-select"></i>
              </div>
              <div class="form-group">
                <input type="text" required="required" th:field="*{loginId}" />
                <label class="control-label" >User Name</label><i class="mtrl-select"></i>
              </div>
              <div class="form-group">
                <input type="password" required="required" th:field="*{password}"/>
                <label class="control-label">Password</label><i class="mtrl-select"></i>
              </div>
              <div class="form-radio">
                <div class="radio">
                  <label>
                    <input type="radio"  checked="checked"  th:field="*{gender}" value="Male" th:errorclass="is-invalid"/><i class="check-box"></i>Male
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" th:field="*{gender}" value="Famale" /><i class="check-box"></i>Female
                  </label>
                </div>
              </div>
              <div class="invalid-feedback" th:errors="*{gender}"></div>
              <div class="form-group">
                <input type="text" required="required" th:field="*{email}" />
                <label class="control-label"><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6c29010d05002c">[email&#160;protected]</a></label><i class="mtrl-select"></i>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" checked="checked"/><i class="check-box"></i>Accept Terms & Conditions ?
                </label>
              </div>
              <a href="#" title="" class="already-have">Already have an account</a>
              <div class="submit-btns">
                <button class="mtr-btn" type="submit"><span>Register</span></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script th:src="@{/js/main.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>

</html>